<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&display=swap" rel="stylesheet">  -->

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed" style="position: sticky;top:0; z-index:1;">
        <div class="container-fluid">
          <div class="navbar-header">
            <li class="active"><a style="font-size: 15px;" class="navbar-brand" href="/"><span class="fa fa-2x fa-home"></span> Dashboard</a></li>
          </div>
          <ul class="nav navbar-nav navbar-right  direction">
            <li><a style="font-size: 15px;" href="/Profile"><span class="fa fa-2x fa-user"></span> Profile</a></li>
            <li><a style="font-size: 15px;" href="/explore"><span class="fa fa-2x fa-wpexplorer"></span> Explore</a></li>
            <li><a style="font-size: 15px;" href="/contact"><span class="fa fa-2x fa-id-badge"></span> Contact-Us</a></li>
            <li><a style="font-size: 15px;" href="#"><span class="fa fa-2x fa-balance-scale"></span> Prediction</a></li>
          </ul>
        </div>
    </nav>
   
    <div class="container">
      <div class="">
         <h1 style="text-align: center;">Congratulations! Your career is predicted .</h1>
         <h1 style="text-align: center;">Suggested Career Field</h1>
            
            </div>
            <div class="">
            {% if data %}
            <h1 style="text-align: center;">{{data}}</h1>
            {% endif %}
          </div>

      <div class="">
        <img src="{{ url_for('static',filename = 'images/pred.jpeg')}}" style="width:70%;height:400px;margin-top: 30px;margin-bottom: 30px;margin-left: 90px;">
      </div>

    </div>


</body>
</html>