<html>
<head>
    <title>Contact us</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/style1.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/aboutusstyle.css')}}">
    <link rel="stylesheet" href="aboutusstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed" style="position: sticky;top:0; z-index:1;">
        <div class="container-fluid">
          <div class="navbar-header">
            <li class=""><a style="font-size: 15px;" class="navbar-brand" href="/"><span class="fa fa-2x fa-home"></span> Dashboard</a></li>
          </div>
          <ul class="nav navbar-nav navbar-right  direction">
            <li><a style="font-size: 15px;" href="/profile"><span class="fa fa-2x fa-user"></span> Profile</a></li>
            <li><a style="font-size: 15px;" href="/explore"><span class="fa fa-2x fa-wpexplorer"></span> Explore</a></li>
            <li><a style="font-size: 15px;" href="/contact"><span class="fa fa-2x fa-id-badge"></span> Contact-Us</a></li>
            <li><a style="font-size: 15px;" href="#"><span class="fa fa-2x fa-balance-scale"></span> Prediction</a></li>
          </ul>
        </div>
    </nav>


    <!--<centre>
        <div id="ourmission">
            <h2 id="h2mission">Our Mission:</h2>
            <h1 id="h1mission">GIVE PROPER GUIDANCE TO CHOOSE RIGHT CAREER OPTION</h1>
        </div>
        <img src="images/aboutus.jpeg">-->
        <div class="contact">
            <div class="content">
                <h2><b>Contact Us</b></h2>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><i class="fas fa-map-marker" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>4116,S.B.Road <br>Pune,Maharashtra<br>411016</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>507-403-2201</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fas fa-envelope-o" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>topmentorgroup@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="contactform">
                    <form>
                        <h2>Send Message</h2>
                        <div class="inputbox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputbox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputbox">
                            <textarea required="required"></textarea> 
                            <span>Type your Message...</span>
                        </div>
                        <div class="inputbox">
                            <input type="submit" name="" value="send" >
                            
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </section>
    </centre>
    
       
    
    
</body>
</html>